API_ID=22207976
API_HASH=5c0ad7c48a86afac87630ba28b42560d
BOT_TOKEN=7496441065:AAEZvRjzlTRfYU8OrjAQSGJacV1WDpLxaI8
LOGGER_ID=-1001942398843
MONGO_DB_URI=mongodb+srv://Music:Music@cluster0.zlhy5x4.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
OWNER_ID=6872968794
STRING_SESSION=BQCGv9TYE7I5hBXlaDabIQPr_IVr1RjhKUAz0N7Yi6zJ03oXSz7CV2W6pRuLkuHgVKf_DBtH0PpCOQTYD2w7x4MS9FKzFeTglMmrI26TCDt3k_8xTdO7qz2BpBy04_a9reP8bIo5T6EUCo7gDbPkJWldpq8AW-2oBNY9vj1uB-j118IweMiLzeYbw_ST67os9pRELUz7LUdebZjOzgQyIWvWOv3e9gdLgRpHerSNVhtNQHxlMQF-7zkt4ppH9329FFntMaQsll3O2_P2WSXsIwn1dBZzJVuZOa0L4eb5Bah2GGdz8byB-QQUMkzqJb2H7jDfwRRaZw5RMncS7351mvpDAAAAAb3un3QA
